.career-image {
  width: 100%;
  overflow: hidden;
}

.career-image picture,
.career-image img {
  width: 100%;
  height: auto;          /* Prevent distortion */
  display: block;        /* Remove unwanted gaps */
  object-fit: cover;     /* Crop nicely when needed */
}

.career-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.career-image {
  width: 100%;
  position: relative;
}

.career-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.career-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
