.Project {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: url("../../../src/assets/images/Group 1000005619.png")
    center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Hide mobile image by default */
.project-mobile-img {
  display: none;
  width: 100%;
  height: auto;
}

/* Large screens */
@media (min-width: 1200px) {
  .Project {
    aspect-ratio: 21 / 9;
  }
}

/* Tablets */
@media (max-width: 992px) {
  .Project {
    aspect-ratio: 10 / 4;
    background-position: center top;
  }
}

/* Mobile view */
@media (max-width: 576px) {
  .Project {
    background: none; /* remove background image */
    aspect-ratio: auto;
    padding: 0;
  }

  .project-mobile-img {
    display: block;
  }
}
