/* Wrapper */
.ourExp-section {
  width: 100%;
  padding: 10px;
}

/* Titles */
.ourExperince_title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  color: #055597;
}

/* Card Style */
.ourExp-card {
  height: 160px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

/* Icons */
.ourExp-card img {
  width: 85px;
  height: 85px;
  object-fit: contain;
}

/* Text */
.office-text {
  font-size:15px;
  font-weight:600;
  margin-top:6px;
  color: #ffffff;
}

/* Colors */
.expe1 {
  background: #055597;
  color: #fff;
}

.expe2 {
  background: #Ffc422;
  color: #055597;
}

/* Hover Effect */
.ourExp-card:hover {
  transform: translateY(-6px);
}

/* Grid Fix */
.ourExp-col {
  padding: 5px 1px;
   
}

/* Desktop: 4 items in one row */
@media (min-width: 992px) {
  .ourExp-col {
    flex: 0 0 22% !important;
    max-width: 22% !important;
  }
}

/* Tablet Layout: 2 per row */
@media (max-width: 991px) {
  .ourExp-card {
    height: 160px;
  }
  .ourExp-card img {
    width: 55px;
    height: 55px;
  }
}

/* Mobile Layout: full width */
@media (max-width: 576px) {
  .ourExp-col {
    flex: 0 0 80% !important;
    max-width: 80% !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;

  }
   
   .ourExp-row {
    justify-content: center !important;
  }
 

  .ourExp-card {
    height: 150px;
    width: 90%;
    
  }

  .ourExp-card img {
    width: 70px;
    height: 70px;
  }
}

.expe2 .office-text {
  color: #000000 !important;
}

@media (max-width: 576px) {

  .ourExp-row {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center cards */
    gap: 15px; /* Space between cards */
  }

  .ourExp-col {
    width: 80% !important; /* Smaller width */
    max-width: 290px;     /* Prevent too large cards */
    display: flex;
    justify-content: center;
  }

  .ourExp-card {
    width: 100%;
    height: 180px; /* Adjust if needed */
  }
}
