.blog-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 20px 60px;
  overflow-x: hidden;
}

.blog-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
  max-width: 100%;
  /* height: 100%;  */
}

.blog-card-image {
  position: relative;
  width: 100%;
}

.blog-card-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.blog-card-number {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #0f4c8a;
  color: #fff;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.blog-card-date {
  color: #6a6a6a;
  font-size: 15px;
  margin-bottom: 6px;
}

.blog-card-title {
  font-size: 16px;
  font-weight: 700;
  color: #1e1e1e;
  line-height: 1.3;
}

.read {
  font-size: 17px;
  font-weight: 600;
  color: #ffd24d;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 15px;
   margin-top: auto; 
}

.arrow {
  font-size: 22px;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 992px) {
  .blog-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blog-section {
    grid-template-columns: 1fr;
  }
}

.read:hover {
  color: #ffd24d !important;
  text-decoration: none !important;
  transform: none !important;
  opacity: 1 !important;
}

.read {
  color: #ffd24d;
  transition: color 0.3s ease;
}

.read .arrow {
  transition: color 0.3s ease;
}

.read:hover {
  color: #0f4c8a !important; /* blue */
}

.read:hover .arrow {
  color: #0f4c8a !important; /* blue arrow */
}
