.map-section {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  
  background: #fff;
}

.map-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.map-container iframe {
  width: 100%;
  height: 400px;
  border: 0;
  display: block;
}

/* Hover effect */
.map-container:hover iframe {
  filter: brightness(0.95);
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .map-section {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .map-container iframe {
    height: 320px;
  }
}

@media (max-width: 480px) {
  .map-container iframe {
    height: 260px;
  }
}
